* {
  margin: 0;
  padding: 0;
  
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* Font Utilities */
.noto {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

/* Utility Classes */
.display-flex {
  display: flex;
}
.hide {
  display: none;
}

/* Navigation Styling */
.parent-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.logo {
  width: 120px;
  height: auto;
}

/* Navbar & Navmenu */
.navbar {
  margin: 0;
}
nav > ul {
  list-style: none;
}
.navmenu {
  display: flex;
  gap: 48px;
  font-size: 20px;
  align-items: center;
}
.navmenu a {
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Link Colors */
.home {
  color: #252432;
  font-weight: bold;
}
.shop-about {
  color: #8987a1;
}
.cart {
  color: #000000;
}

/* Hover Effects */
.navmenu a:hover {
  color: #4e4e4e;
}

/* Responsive Styling */
@media (max-width: 576px) {
  .home,
  .shop-about {
    display: none;
  }

  .parent-nav {
    flex-direction: row;
    padding: 20px 12px;
    gap: 20px;
  }

  .logo {
    width: 63px;
    height: 38px;
    padding-left: 20px;
  }

  .cart {
    font-size: 15px;
    padding-right: 20px;
    
  }
}
